---
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
import { COLORS, SITE_DESCRIPTION } from "../../consts";
import WebLayout from "../../layouts/WebLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
---

<WebLayout title={"Investigación"} description={SITE_DESCRIPTION}>
    <main class={`grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10`}>
        {
            posts.map((post) => (
                    <a class={`${COLORS.alt.br} rounded bg-white shadow hover:shadow-lg shadow-blue-600 transition-all duration-300`} href={`/investigacion/${post.id}/`}>
                        <div
                            class={`w-full h-64 bg-cover bg-center ${COLORS.alt.br} border-t-0 border-x-0`}
                            style={`background-image: url(/${post.data.portada})`}
                        />
                        <h4 class={` text-xl p-2 ${COLORS.alt.br} ${COLORS.alt.bg} border-t-0 border-x-0`}>{post.data.titulo}</h4>
                        <div class={`${COLORS.alt.br} border-t-0 border-x-0 flex`}>
                            <p class="flex-1 p-2 text-xs">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                            <div class={`${COLORS.alt.br} border-y-0 border-r-0 flex-1 p-2 text-xs flex gap-1`}>
                                {post.data.tags && post.data.tags.map((tag) => <button class={`${COLORS.alt.br} ${COLORS.alt.hv} p-1`}>{tag}</button>)}
                            </div>
                        </div>
                        <p class={`p-2 text-sm overflow-auto h-32`}>
                            {post.data.abstract}
                        </p>
                    </a>
            ))
        }
    </main>
</WebLayout>
