---
import HeaderLink from "./HeaderLink.astro";
import { SITE_SUBTITLE, SITE_TITLE, COLORS } from "../consts";
const { mobile } = Astro.props;
---

<nav class={` ${mobile ? "flex sm:hidden" : "flex flex-1"} flex-col gap-2  `}>
    <div class="flex flex-col gap-2">
        <a class={`uppercase px-1 flex justify-end rounded ${COLORS.main.act} ${COLORS.main.hv} transition-all`} href="/">
            <img class="mix-blend-multiply h-8 sm:h-12" src="/iadlogos.png" />
        </a>
        <h1 class={`uppercas text-sm p-1 transition-all `}>{SITE_SUBTITLE}</h1>
    </div>
    <div class={`flex flex-col gap-1 ${mobile ? "" : "flex-1"}`}>
        <HeaderLink href="/" colors={COLORS} class="rounded-t">Inicio</HeaderLink>
        <HeaderLink href="/investigacion" colors={COLORS}>Investigación</HeaderLink>
        <HeaderLink href="/nosotros" colors={COLORS} class="rounded-b">Sobre nosotros</HeaderLink>
    </div>
</nav>
