---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import WebLayout from "./WebLayout.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { titulo, abstract, pubDate, updatedDate, portada, tags } = Astro.props;
import { COLORS } from "../consts";
---

<WebLayout class="flex justify-center realtive">
    <article class="max-w-full">
        <div
            class="prose prose-h1:bg-purple-400 prose-h1:p-1 prose-hr:border-purple-600 prose-blockquote:bg-purple-100 prose-blockquote:border prose-blockquote:border-purple-600 prose-blockquote:rounded prose-pre:bg-purple-400 prose-p:bg-white"
        >
            <a href="/investigacion" class="flex items-center gap-3 no-underline">
                <Icon class="text-lg" name="ri:arrow-left-line" />
                <p>Volver</p>
            </a>
            <div class={`w-full sm:w-96 aspect-square my-10 bg-cover bg-center prose-p:bg-white`} style={`background-image: url(/${portada})`}>
            </div>
            <div class="titulo">
                <div class="date">
                    <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <div class="last-updated-on">
                                Última actualización <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <h1 class="neueHaas-medium">{titulo}</h1>
                <p class="w-2/3 italic">{abstract}</p>
                <hr />
            </div>
            <slot />
        </div>
    </article>
</WebLayout>
